body{
    margin: 0;
    padding: 0;
    background-color: rgb(238, 191, 134);
}
/* adding style on 1st paragraph */
.start .Paragraph p{
    border: 3px solid rgb(15, 16, 19);
    background-color: rgb(201, 212, 36);
    box-shadow: rgb(66, 64, 66);
    margin: 15px;
    padding: 20px;
    border-radius: 10px;
}
/* working on 1st image  */
.start img{
    width: 450px;
    height: 450px;
    float: right;
}
/* working on 1st Paragraph */
.start .Paragraph p{
    width: 600px;
    height: 400px;
    font-size: 20;
    display: flex;
    grid-template-columns: repeat(2,1fr);
}
/* adding style at 2nd .Paragraph */
.end .Paragraph p{
    border: 3px solid rgb(15, 14, 14);
    background-color: rgb(123, 252, 252);
    box-shadow: 4px 6px 3px;
    margin: 15px;
    padding: 20px;
    border-radius: 10px;
}
/* working on 2nd image */
.end img{
    width: 400px;
    height: 400px;
    float: left;
}
/* working on 2nd .Paragraph */
.end .Paragraph p{
    width: 600px;
    height: 400px;
    font-size: 20;
    display: flex;
    grid-template-columns: repeat(2,1fr);

}
/* shifting 2nd .Paragraph to right side  */
.end p{
    float: right;
    
}
.end img{
    float: left;
}
.start .Paragraph{
    font-family: "Lobster", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.end .Paragraph{
    font-family: "Lobster", sans-serif;
    font-weight: 400;
    font-style: normal;
}